.cart{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cart h1{
    font-size: 50px;
    background: linear-gradient(to left,
                    violet,
                    indigo,
                    blue,
                    red);
            -webkit-background-clip: text;
    color: transparent;
}
.cart-main {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	/* padding: 40px calc((100% - (255px * 3)) / 2); */
  }
  
.cart-detailBox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
	 height: auto;
	 flex: 0 0 50%;
	 margin: 1em 20px;
	 border: 2px rgb(10, 10, 10) solid;
     border-radius: 10px;
}
.cart-imgbox{
    border: 2px rgb(10, 10, 10) solid;
    width: 70px;
    height: 50px;
}
.cart-imgbox img{
    width: 70px;
    height: 50px;
}
.Item_data1{
    width: 150px;
    /* border: 2px rgb(10, 10, 10) solid; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.order-btn{
    width: 100px;
    padding: 10px;
    margin-top: 10px;
    font-size: 20px;
    font-weight:600 ;
    border-radius: 20px;
    background-color: rgb(68, 223, 68);
    color: white;
}
.Check_out{
    width: 70px;
    height: 50px;
    border-radius: 10px;
    background-color: red;
    color: white;
    font-weight: 600;
}
.order-btn a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.bill{
    width: 90%;
    border-top: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    
}

@media screen and (max-width: 768px) {
    .cart-main {
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        /* padding: 40px calc((100% - (255px * 3)) / 2); */
      }
    .cart-detailBox {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: auto;
        flex: 0 0 50%;
        padding: 5px;
        border: 2px rgb(10, 10, 10) solid;
        border-radius: 10px;
    }
}