.login-page{
    margin:5% 0 0 20%;
    background-color: blanchedalmond;
    width: 60vw;
    height: 60vh;
    border:0.5vh solid black;
    border-radius: 5vh;   
}
.hading{
    font-size: 5vb;
    margin:2% 0 0 30% ;
}
.Cont-1{
    display:flex;
    flex-direction: row;
    
}
.img-login{
    width: 100%;
    height: 99%;
}

.login-logo{
    width: 40vw;
    height: 50vh;
    border-radius: 1vh;
    background-color: blanchedalmond;
}
.LogIn{
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
    width: 25vw;
    height: 50vh;
}
.LogIn Input{
    padding: 2.5vh;
    margin: 2vh;
    border-radius: 1vh;
    font-size: 3vh;
}

.btn21{
    padding: 2.5vh 0 2.5vh 35%;
    margin: 2vh ;
    color: black;
    background-color: blanchedalmond;
    border: 2px solid black;
    border-radius: 1vh;
    font-size: 3vh;
    font-weight: 500;
    text-decoration: none;
}



@media screen and (max-width: 768px) {
    .Cont-1{
        display:flex;
        flex-direction: column;
        align-items: center;
        
    }
    .login-page {
    margin: 5% 0 0 10%;
    width: 300px;
    height: 500px;
    }
    .hading {
    font-size: 20px;
    padding: 2px 0 0 15px;
    }
    .login-logo {
    width: 60vw;
    height: 30vh;
    border-radius: 3vh;
    }
    .LogIn {
    width: 280px;
    height: 30vh;
    margin: 5% 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    .LogIn input {
        width: 200px;
    }
    .btn-primary{
        width: 200px;
    }
    .btn21 {
        width: 140px;
    }
}