.Restorent {
    font-family: ui-monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;

}

.Res-header {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.Res-header h1 {
    background: linear-gradient(to left,
            violet,
            indigo,
            blue,
            green,
            yellow,
            orange,
            red);
    -webkit-background-clip: text;
    color: transparent;
}

.Res-header-1 {
    display: flex;
    flex-direction: row;
}

.Res-header-1 input {
    height: 25px;
    margin-right: 5px;
    border-radius: 10px;
    text-align: center;
}

.Res-btn {
    width: 50px;
    height: 30px;
    border: none;
}

.Res-btn svg {
    width: 30px;
    height: 30px;

}

.Res-1 {
    width: 80%;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.Res-2 {
    width: 50%;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.Contaner {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* padding: 40px calc((100% - (255px * 3)) / 2); */
}

.contaner-1 {
    height: auto;
    flex: 0 0 20%;
    margin: 1em 20px;
    border: 2px rgb(10, 10, 10) solid;
    border-radius: 10px;
}

.box img {
    width: 350px;
    height: 250px;
    border-radius: 10px 10px 0px 0px;
}

.detail {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 55px;
}

.detail-1 p {
    font-size: 15px;
    font-weight: 700;
    margin: 0px;
    font-family: ui-monospace;

}

.detail-2 button {
    padding: 5px 20px 5px 20px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 800;
    background-color: rgb(110, 160, 235);
}

.detail-2 a {
    text-decoration-line: none;
    color: black;
}

@media screen and (max-width: 768px) {
.Res-header{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items:center; */

}
.Res-2{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.Res-header-1 input{
    margin: 0 0 0 10px;
    width: 220px;
}
}