.SingIn-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
    background-image: url('../Assets/CA.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.heading{
    font-weight: 700;
    font-size: 200%;
    padding: 0 0 0 35% ;
}
.Input-data{
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 80vh;
    background-color: rgb(0,0,0,.2);
    border-radius: 20px;
}
.Address{
    display: flex;
    flex-direction: column;
}
.input-container{
    display: flex;
    flex-direction: column;
    margin: 0 15% 0 15%;
    font-weight: 700;
}
.input-container input{
    border: 1px solid white;
    margin:1.5% 0 0 0;
    padding: 2%;
    border-radius: 5px ;
    opacity: 50%;
}

.register-button{
    width: 20%;
    height: 8%;
    align-self: center;
    margin-top: 2%;
    border-radius: 20px;
    background-color: rgb(83, 226, 83);
    font-weight: 700;
    font-size: 100%;
}